* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  line-height: 60px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.view {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 60px;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: translate3d 0.5s ease-in-out;
  transition: translate3d 0.5s ease-in-out;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.panel.panel-pad {
  padding: 10px  15px;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  background-color: #333;
  color: #fff;
}
.nav a {
  display: block;
  float: left;
  width: 50%;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.center {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.center {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
