$height: 60px;
*{
  box-sizing: border-box;
}
.header{
  position: absolute;
  height: $height;line-height: $height;
  color
}
.nav{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $height;line-height: $height;
  a{
    display: block;
    width: 50%;
  }
}
.view{
  position: absolute;
  top:$height;
  left: 0;
  right: 0;
  bottom: $height;
}
.panel{
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  overflow: hidden;
  overflow-y:  scroll;
  // ios 5 mininum
  -webkit-overflow-scrolling: touch;
  transition-duration: .5s;
}
.left{
  transform: translate3d(-100%, 0, 0);
}
.center{
  transform: translate3d(0, 0, 0);
}
.center{
  transform: translate3d(100%, 0, 0);
}
